*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "josefin sans", sans-serif;
}
.box1{
    width: 100%;
    height: 70vh;
    background-color: #ffffff;

    P{
        color: #222222;
        padding-top: 67px;
        padding-left: 110px;
    }

    .border{
        width: 420px;
        height: 4px;
        margin-left: 110px;
        margin-top: 10px;
        background-color: #097a8f;
    }

    .p{
        font-size: 70px;
        color: #222222;
        font-weight: 900;
    }
    .box3{
        width: 150px;
        height: 43px;
        border-radius: 20px;
        background-color: #3b6fd1;
        color: #ffffff;
        padding: 10px;
        display: inline;
        margin-left: 110px;
        margin-top: 40px;
    }
    .box4{
        border-radius: 20px;
        background-color: #bca33a;
        color: #ffffff;
        display: inline;
        margin-left: 20px;
        margin-top: 40px;
        padding: 10px 20px;
    }
    
}
.box2{
    width: 100%;
    height: 30vh;
    background-color: #e21728;

    p{
        padding-left: 1100px;
        padding-top: 100px;
        color: #ffffff;
    }
}